[user]
    name = Dennis Gülich
    email = dennis.gulich@gmail.com

[github]
    user = dennisgulich

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout

    lol = log --graph --decorate --pretty=oneline --abbrev-commit --all

    # show all deleted files in the repo
    deleted = "!git log --diff-filter=D --summary | grep delete"

    undo = reset --soft HEAD~1

[pager]
        diff = diff-so-fancy | less --tabs=4 -RFX
        show = diff-so-fancy | less --tabs=4 -RFX

[core]
	excludesfile = /Users/dennisgulich/.gitignore_global
